{% extends 'adminhome.html' %}

{% block page %}
<center>
<h2>Add Food Product Here!!!</h2>

<font style="font-size:20px;" color="orange" >{{output}}</font>
<form method="post" enctype="multipart/form-data" action={{curl}}myadmin/addfoodproduct/ >
{% csrf_token %}
<table cellspacing="15">
<tr>
<td>Title</td>
<td><input type="text" name="title" placeholder="Enter product name"/></td>
</tr>
<tr>
<td>Category Name</td>
<td>
<select style="width:248px;" name="subcatnm">
<option>select category</option>
{% for subcat in sclist %}
	<option>{{subcat.1}}</option>
{% endfor %}
</select>
</td>
</tr>
<tr>
<td>Description</td>
<td><textarea rows="5" cols="33" name="description" placeholder="Enter product description"></textarea></td>
</tr>
<tr>
<td>Price</td>
<td><input type="text" name="price" placeholder="Enter product price"/></td>
</tr>
<tr>
<td>Food Product Icon</td>
<td><input type="file" name="foodicon" /></td>
</tr>


<tr>
<td>
<input type="submit" value="Add Food Product"/>
</td>
</tr>


</table>

</form>


</center>
{% endblock %}	


