{% extends 'base.html' %}

{% block menu %}	
<ul>
<li class="first"><a href={{curl}}myadmin/ >Admin Home</a></li>
<li><a href={{curl}}myadmin/viewusers/  >View Users</a></li>

<li>
<span class="opener">Manage Options<b></b></span>
<ul>
<li><a href={{curl}}myadmin/addcat/ >Add Category</a></li>
<li><a href="" >Manage Category</a></li>
<li><a href={{curl}}myadmin/addsubcat/ >Add Sub Category</a></li>
<li><a href="" >Manage Sub Category</a></li>
<li><a href={{curl}}myadmin/addfoodproduct/ >Add Food Product</a></li>
<li><a href={{curl}}myadmin/orderpaymentlistadmin/ >Order & Payment History</a></li>
</ul>
</li>

<li>
<span class="opener">Settings<b></b></span>
<ul>
<li><a href="" >Edit Profile</a></li>
<li><a href={{curl}}myadmin/changepasswordadmin/ >Change Password</a></li>
<li><a href="" >Launch Notifications</a></li>
<li><a href="" >View Feedbacks</a></li>
<li><a href={{curl}}login/ >Logout</a></li>
</ul>
</li>
</ul>
<b>Welcome user : {{cunm}}</b>
{% endblock %}	

{% block slider %}	
{% endblock %}

{% block page %}
<center>
<h2>Welcome to Book My Meal</h2>
<h3>Admin Panel</h3>
</center>
{% endblock %}	














