{% extends 'adminhome.html' %}

{% block page %}

<center>
<h1>Change Password Here</h1>
<font color="orange" style="font-size:20px;">{{output}}</font>
<br>
<form method="post" action={{curl}}myadmin/changepasswordadmin/ >
{% csrf_token %}
<table cellspacing="10">
<tr>
<td>Enter Old Password</td>
<td>
<input type="password" name="opass" placeholder="Old Password"/>
</td>
</tr>
<tr>
<td>Enter New Password</td>
<td>
<input type="password" name="npass" placeholder="New Password"/>
</td>
</tr>
<tr>
<td>Enter Confirm New Password</td>
<td>
<input type="password" name="cnpass" placeholder="Confirm New Password"/>
</td>
</tr>
<tr>
<td>
<input type="submit" value="Change Password"/>
</td>
</tr>
</table>
</form>


</center>

{% endblock %}
