{% extends 'base.html' %}

{% block slider %}
{% endblock %}

{% block page %}
<center>
<h3>Login Here To Order Product!!!</h3>
<font style="font-size:20px;" color="orange" >{{output}}</font>
<form method="post" action={{curl}}orderlogin/ >

<table cellspacing="15">
<tr>
<td>Email(Username)</td>
<td>
<input type="hidden" name="pid" value={{pid}} />
<input type="hidden" name="price" value={{price}} />
<input type="text" name="email" placeholder="Enter username"/></td>
</tr>

<tr>
<td>Password</td>
<td><input type="Password" name="password" placeholder="Enter password"/></td>
</tr>


<tr>
<td>
<input type="submit" value="Login"/>
</td>
</tr>


</table>

</form>

</center>
{% endblock %}


